<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>

<body>
  <header id="heading" class="box">
    <h1> <%= heading %> </h1>
  </header>
